{% for n in layer.nodes if n.type == 'capacitor' -%}
New Capacitor.{{ n.id | replace('cap_','') }} bus1={{ n.attrs.bus }} kvar={{ '%g' % n.attrs.kvar }} kv={{ '%g' % n.attrs.kv }} phases={{ '%g' % n.attrs.phases }}
{% endfor %}

