
[General]
network = topology
{% for n in layer.nodes -%}
{% for k, v in n.attrs.items() -%}
topology.{{n.id}}.{{k}} = {{ '"' ~ v ~ '"' if v is string else v }}
{% endfor %}

{% endfor -%}
{% for k, v in layer.metadata.globals.items() -%}
topology.*.{{k}} = {{ '"' ~ v ~ '"' if v is string else v }}
{% endfor %}
{% for k, v in layer.metadata.others.items() -%}
{{k}} = {{v}}
{% endfor -%}
